{% extends 'todo/base.html'%}
{% block content %}

<div class="header-bar">
    <div>
        <h1>Hello, {{request.user|title}}</h1>
        <h3 style="margin: 0;">You have <i>{{count}}</i> incomplete task{{count|pluralize:"s"}}</h3>
    </div>
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="">Register</a>
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>

<h1>To-Do List</h1>
<a href="{% url 'create-task' %}">Add Task</a>
<form action="" method="GET">
    <input type="text" name="search-input" value="{{search_input}}">
    <input type="submit" value="Search">
</form>
<table>
    <th>Item</th>  
    <th></th>
    <th></th>
    {% for obj in task %}
    <tr>
        <td>{{obj.title}}</td>
        <td><a href="{% url 'update-task' obj.id %}">Edit</a></td>       
        <td><a href="{% url 'delete-task' obj.id %}">Delete</a></td>
    </tr>     <!--Object Name-->
    {% empty %}
    <li>No tasks</li>
    {% endfor %}
</table>
{% endblock content %}